.sidebarIcon{
    z-index: 1;
    position: absolute;
    top:1%;
    left: 1%;
    height: 2.5rem;
    width: 2.5rem;
}

.productSection{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.CarouselText{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 38%;
    color: black;
    font-size:xx-large;
    text-align: center;
    width: 25%;
}

.ProductSectionName{
    font-size:1.7rem;
    margin: 1.3rem;
    margin-top: 2.5rem;
}
.socialMediaLinks div :hover{
    color: blue;
    font-size:x-large;
}
.main{
    z-index: -1;
     
}


.inactive{
    position: absolute;
    animation: closeBtn ease 2s;
    animation-fill-mode: forwards;
}

@keyframes closeBtn {
    0% {
        top:15%;

       

    }
   
    100%{
        top: -100%;
        
    }
    
}



@media screen and (max-width:600px) {

    .CarouselText{
        position: absolute;
        top:25%;
        left: 10%;
        width: 80%;

    }
    .main{
        width: fit-content;

        flex-wrap: wrap;
        z-index: 0;
    }
    .main ul{
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
        z-index: 1;
    }
    .main li{
        margin-top: 0.5rem;
    }
    .button{

        font-size: small !important;
        size: 2rem;
        height: 10%;
      
    }
    
    
}


